@CHARSET "UTF-8";

/* Style */
.file-browser {
	width: 98%;
	margin: 10px 1%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.file-browser a {
	color: #333;
}

.file-browser h1 {
	font-size: 160%;
	margin: 2px 0 10px;
}

.file-browser h2 {
	margin: 2px 0 7px;
	font-size: 140%;
}

.file-browser h3 {
	margin: 2px 0 4px;
	font-size: 120%;
}

/* Layout */
.file-browser-column {
	display: block;
    overflow: hidden;
    padding-right: 315px;
    width: auto;
    min-height: 600px;
}

.file-browser-col1 {
	width: 100%;
}

.file-browser-col2 {
	width: 300px;
	position: fixed;
	top: 10px;
	right: 10px;
}

.file-browser-preview,
.file-browser-upload {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#file-browser-preview-image,
.file-browser-preview-image {
	max-width: 255px;	
}

ul.filebrowser-list ul
ul.filebrowser-list ul li {
	margin: 0;
}


/* Listing */
ul.file-browser-list li {
	padding: 5px 25px;
	background-repeat: no-repeat;
	background-position: center left;
}

ul.file-browser-list li:nth-child(odd) {
	background-color: #F7F7F7;
}
ul.file-browser-list li:nth-child(even) {
	background-color: #FFF;
}

ul.file-browser-list li:HOVER {
	background-color: #EEE;
}

ul.file-browser-list li.file-highlight,
ul.file-browser-list li.file-highlight:HOVER {
	background-color: #7EB51B;
}


ul.file-browser-list li > span {
	display: inline-block;
	padding: 0 5px; 
	vertical-align: middle;
}

ul.file-browser-list span.file-name,
ul.file-browser-list span.dir-parent,
ul.file-browser-list span.dir-name {
	min-width: 350px;
}

/* Directory */
.file-browser-list .dir { background-image: url(../img/filebrowser/directory.png); }

/* File */
.file-browser-list .file {	background-image: url(../img/filebrowser/file.png); }
.file-browser-list .file-thumb { width: 60px; }
