@CHARSET "UTF-8";

.file-select {
	background-color: #f8f8f8;
	border: 1px solid #CCC;
	color: #333;
	padding: 7px 7px 7px 150px !important;
}

.file-select > div {
	padding: 0;
	margin: 0;
	clear: none;
}

.file-select .image-input-preview {
	float: left;	
	width: 105px;
	margin-left: -140px;
}

.file-select .image-input-preview img {
	max-width: 100px;
}

.file-select .image-input {
	float: left;
	width: 100%;
}

.file-select .image-input-actions {
	padding: 0;
	margin: 0;
}

.file-select .image-input-actions a {
	display: inline-block;
	clear: both;
	padding-left: 5px;
}