@CHARSET "UTF-8";

.upload-container {
	border: 3px dashed #CCC;
	padding: 10px;
	margin: 0 0 10px 0;
}

.upload-container:HOVER {
	border-color: #FF9966;
}

.upload-container.dragover {
	border: 5px dashed #FF9966;
}

.upload-holder {
	display: none;
}

.upload-control {
}

.upload-control > a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #CCC;
	background: #FFF;
	color: #000;
	margin: 0 7px 0 0;
}

.upload-queue {
}

.upload-file {
	color: #222;
	padding: 5px;
	margin: 0 0 10px;
	position: relative;
	background-color: #ff6600;
	font-weight: normal;
}

.upload-file > div {
	padding: 0 5px;
	display: inline-block;
	margin: 0;
}

.upload-file .upload-file-queueId {
	text-align: right;
}

.upload-file .upload-file-name {
	font-weight: bold;
}

.upload-file .upload-file-size:after {
	content: " byte";
}

.upload-file .upload-file-progress {
	width: 75px;
	height: 10px;
}

.upload-file .upload-file-status {
}

.upload-file .upload-file-control {
}

.upload-file .upload-file-abort {
}

.upload-file.loading .upload-file-abort {
	display: inline;
}

.upload-file.removed {
	background-color: #CCC;
}