<?php
/**
 * Media Plugin Config Example
 */
$config = array(
	'Media' => array(
		'FileExplorer' => array(
			'default' => array(
				'basePath' => IMAGES // absolute path WITH trailing slash	
			)		
		)	
	),
);