<?php
/**
 * Media Plugin Config Example
 */
$config = array(
	'Media' => array(
		'Thumb' => array(
        	'baseDir' => WWW_ROOT . "thumbs" . DS, // Thumbnail storage path
        	'baseUrl' => '/thumbs/', // Thumbnail url
		),
		'FileExplorer' => array(
			'default' => array(
				'basePath' => IMAGES // absolute path WITH trailing slash	
			)		
		)
	),
);